@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EnrollmentSystem.Models.Dto.LoginDto

@section LoginForm {
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h1 class="text-center">
                            <img class="d-block w-100" src="~/images/unilogo.png" alt="Second slide" style="object-fit: cover; width: 100%; height: 100%;">
                        </h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <p class="mb-3 text-center text-info">Login to University</p>

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="username">Username:</label>
                                <input asp-for="username" class="form-control" autocomplete="off" />
                                <span asp-validation-for="username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="password">Password:</label>
                                <div class="input-group">
                                    <input asp-for="password" type="password" class="form-control" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                            <i class="bi bi-eye-fill"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-3 w-100">Log in <i class="bi bi-box-arrow-in-right"></i></button>
                        </form>
                        <script>
                            const passwordInput = document.getElementById('password');
                            const togglePasswordButton = document.getElementById('togglePassword');

                            togglePasswordButton.addEventListener('click', function () {
                                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                                passwordInput.setAttribute('type', type);

                                // Toggle the icon
                                this.querySelector('i').classList.toggle('bi-eye-fill');
                                this.querySelector('i').classList.toggle('bi-eye-slash-fill');
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}